h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  font-size: 24px;
  transition: color 250ms ease-in-out;
}

a:hover,
a:focus {
  color: #808080;
}

ul li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
